<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projekt - Notenmanagement</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>

    <script src="index.js"></script>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <h1 class="badge badge-info" style="font-size:40px;">Notenmanagement</h1>

        <div class="collapse navbar-collapse btn-group-lg" role="group">
            <a href="neuereintrag.html" class="btn btn-outline-info" style="margin-left: 70px">Neuer Eintrag</a>
            <a href="allepruefungen.html" class="btn btn-outline-info">Alle Prüfungen</a>
            <a href="notenstand.html" class="btn btn-outline-info">Notenstand</a>
        </div>
        <button id="logout_btn" class="btn btn-outline-danger" onclick="logout()">Abmelden</button>
    </nav>
    <br>
    <br>
    
        <!--        <div id="TestResults" align="left">
            <form>
                <input id="input__schueler" list="input_schueler" name="schueler" placeholder="SchülerIn" class="form-control" style="width: 20%">
                <datalist id="input_schueler">
                    <option value="Aigner Johannes">
                        <option value="Angleitner Simon">
                            <option value="Asamer Mathias">
                                <option value="Bachinger Julian">
                                    <option value="Diermayr David">
                                        <option value="Ertl Franziska">
                                            <option value="Fehkürer Lukas">
                                                <option value="Friedl Lukas">
                                                    <option value="Grünzinger Stefan">
                                                        <option value="Krämer Alexander">
                                                            <option value="Leimer Alexander">
                                                                <option value="Moatazedy Arastu">
                                                                    <option value="Schachermayr Florian">
                                                                        <option value="Schachl Martin">
                                                                            <option value="Schwendtbauer Wolfgang">
                                                                                <option value="Stempfer Leon">
                                                                                    <option value="Weingartner Matthias">
                                                                                        <option value="Weiß Philipp">
                                                                                            <option value="Wollitzer Elias">
                                                                                                <option value="Zweimüller Michael">
                </datalist>
                <input type="number" min="1" max="5" placeholder="Note" class="form-control" style="width:20%">
                <input type="text" placeholder="Anmerkung" class="form-control" style="width:20%">
                <br> Schüler hat gefehlt:
                <input type="radio" name="gefehlt" value="ja"> Ja
                <input type="radio" name="gefehlt" value="nein" checked> Nein
                <br>
                <br>
                <input type="submit" value="Speichern" class="btn btn-light ">
            </form>
        </div> -->
<!-- table table-sm table-striped -->
       <table id="table_pruefungen" class="klasse" style="width:30%" align="center">
            <thead class="bg-info text-white">
                <tr>
                    <th>Datum</th>
                    <th>Thema</td>
                    <th>Art</th>
                </tr>
            </thead>           
        </table>

    
    <script src="index.js"></script>
</body>

</html>