<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projekt - Notenmanagement</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <h1 class="badge badge-info" style="font-size:40px;">Notenmanagement</h1>
        

        <div id="LoginForm" class="">
                <form class="form-inline" action="">
                    <input id="login_user" class="form-control " type="text" placeholder="Username">
                    <input id="login_password" class="form-control " type="password" placeholder="Passwort">
                    <input id="login_submit" class="btn btn-info text-white" type="button" value="Anmelden" onclick="validate()">
                </form>
        </div>
    </nav>
   
    <script src="index.js"></script>
</body>

</html>