<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projekt - Notenmanagement</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
            <h1 class="badge badge-info" style="font-size:40px;">Notenmanagement</h1>
            
            <div class="collapse navbar-collapse btn-group-lg" role="group" >
                    <a href="neuereintrag.html" class="btn btn-outline-info" style="margin-left: 70px">Neuer Eintrag</a>
                    <a href="allepruefungen.html" class="btn btn-outline-info">Alle Prüfungen</a>
                    <a href="notenstand.html" class="btn btn-outline-info">Notenstand</a>
            </div>
            <button id="logout_btn" class="btn btn-outline-danger" onclick="logout()">Abmelden</button>
    </nav>
    <br><br>
    <div id="NewTestForm" align="center">
        <form>
            <input name="name_date" id="input_date" type="text" class="form-control" style="width: 20%" placeholder="Datum" onMouseOver="(this.type='date')"
                onMouseOut="(this.type='date')">
            <input name="name_thema" id="input_thema" type="text" placeholder="Thema" class="form-control" style="width: 20%">
            <input name="name_art" id="input_art" list="input__art" name="Art" placeholder="Art" class="form-control" style="width: 20%">
            <datalist id="input__art">
                <option value="Lernzielkontrolle">
                <option value="Test">
                <option value="Schularbeit">
            </datalist>
            <input type="submit" value="Neuen Eintrag speichern" class="btn btn-light" style="width: 20%" onclick="newEntry()">
        </form>
    </div>
    <script src="index.js"></script>
</body>

</html>