<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projekt - Notenmanagement</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <h1 class="badge badge-info" style="font-size:40px;">Notenmanagement</h1>
    <br>
    <br>

    <div class="btn-group" role="group">
            <a href="neuereintrag.html" class="btn btn-info">Neuer Eintrag</a>
            <a href="allepruefungen.html" class="btn btn-outline-info">Alle Prüfungen</a>
            <a href="notenstand.html" class="btn btn-outline-info">Notenstand</a>
    </div>
    <br><br>

    <div id="NewTestForm">
        <form>
            <input id="input_date" type="text" class="form-control" style="width: 20%" placeholder="Datum" onMouseOver="(this.type='date')"
                onMouseOut="(this.type='date')">
            <input id="input_thema" type="text" placeholder="Thema" class="form-control" style="width: 20%">
            <input id="input__art" list="input_art" name="Art" placeholder="Art" class="form-control" style="width: 20%">
            <datalist id="input_art">
                <option value="Lernzielkontrolle">
                    <option value="Test">
                        <option value="Schularbeit">
            </datalist>
            <input type="submit" value="Neuen Eintrag speichern" class="btn btn-light">
        </form>
    </div>

    <script src="index.js"></script>
</body>

</html>